#topTitle {
  display: flex;
  justify-content: center;
  color: white;
}

h3 {
  color: skyblue !important;
  text-align: center;
  margin-top: 20px;
}

/* search&history col */

#searchAndHistory {
  background: rgb(240, 240, 240);
  height: 650px;
  flex: auto;
}

/* weather and five day forcast */

#weatherAndFiveday {

  background: whitesmoke;
  /* flex: auto; */
}

/* current weather */

#currentWeatherBox {
 border: 2px solid darkslategrey;
  height: 350px;
  margin-top: 20px;
  background-color: skyblue;
}

#cityWeatherImg {
  height: 100px;
  width: 125px;
}

h5 {
  font-size: 35px;
}

/* five day forcast */

#fiveDayForecast {
  margin-top: 10px;
}

#cardBox {
  display: flex;
}

.forecastBox {
  display: flex;
  background-color: #007bff !important;
  color: white;
  width: 190px;
  margin: 10px ;
  margin-bottom: 30px;
}
#forcastImgIcon {
  height: 100px;
  width: 125px;
  margin-left: 5px;
}
